# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ruff_cache/

# Coverage
.coverage

# Environments
.env
.venv
*.egg-info/
env/
venv/

# Garmin authentication sessions
.garmin-cookies.txt
*.garmin-cookies.txt

# VS Code
.vscode/
